:root {
  --vox-color-background: #ffffff;
  --vox-color-primary: #3a86ff;
  --vox-color-secondary: #ff006e;
  --vox-color-text: #1d3557;
  --vox-font-base: 16px;
  --vox-font-large: 20px;
  --vox-spacing-lg: 24px;
  --vox-spacing-md: 16px;
  --vox-spacing-sm: 8px;
  --vox-spacing-xl: 32px;
}
